In [2]:
# Importing necessary libraries for data manipulation, analysis and visualization
import pandas as pd
import numpy as np

In [3]:
# Task 1
# Creating a dictionary
project = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
employee = {
    'ID': ['A001','A002','A003','A004','A005'],
    'Name':	['John Alter','Alice Luxumberg','Tom Sabestine','Nina Adgra','Amy Johny'],
    'Gender':['M','F','M','F','F'],
    'City'	:['Paris','London','Berlin','Newyork','Madrid'],
    'Age' :	[25,27,29,31,30]
}
seniority_level = {
    'ID': ['A001','A002','A003','A004','A005'],
    'DesignationLevel' : [2,2,3,2,3]
}
print(project,employee,seniority_level)

{'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'], 'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'], 'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000], 'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']} {'ID': ['A001', 'A002', 'A003', 'A004', 'A005'], 'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'], 'Gender': ['M', 'F', 'M', 'F', 'F'], 'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'], 'Age': [25, 27, 29, 31, 30]} {'ID': ['A001', 'A002', 'A003', 'A004', 'A005'], 'DesignationLevel': [2, 2, 3, 2, 3]}

In [4]:
# creating a dataframe from a dictionary 
df1 = pd.DataFrame(project)
df2 = pd.DataFrame(employee)
df3 = pd.DataFrame(seniority_level)
# Save DataFrame as CSV                                  
df1.to_csv('project_data.csv', index=False)
df2.to_csv('employee_data.csv', index=False)
df3.to_csv('seniority_level_data.csv', index=False)

In [5]:
# Specify the file path
file_path1 = 'project_data.csv'
file_path2 = 'employee_data.csv'
file_path3 = 'seniority_level_data.csv'
# Read the CSV file into a DataFrame
df_imported1 = pd.read_csv(file_path1)
df_imported2 = pd.read_csv(file_path2)
df_imported3 = pd.read_csv(file_path3)
print(df_imported2)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [6]:
# Task2
# Initialize variables for running sum and count
running_sum = 0
count = 0

# Iterate over the 'Cost' column
for i in range(len(df_imported1)):
    if pd.isna(df_imported1.at[i, 'Cost']):
        # If the value is missing, replace it with the running average
        if count > 0:
           df_imported1.at[i, 'Cost'] = running_sum / count
    else:
        # If the value is not missing, update running sum and count
        running_sum += df_imported1.at[i, 'Cost']
        count += 1
# Set pandas to display numbers in standard decimal notation
pd.options.display.float_format = '{:.2f}'.format
# Display the updated DataFrame
print(df_imported1)

      ID     Project       Cost    Status
0   A001   Project 1 1002000.00  Finished
1   A002   Project 2 2000000.00   Ongoing
2   A003   Project 3 4500000.00  Finished
3   A004   Project 4 5500000.00   Ongoing
4   A005   Project 5 3250500.00  Finished
5   A002   Project 6  680000.00    Failed
6   A005   Project 7  400000.00  Finished
7   A003   Project 8  350000.00    Failed
8   A001   Project 9 2061714.29   Ongoing
9   A003  Project 10  300000.00  Finished
10  A001  Project 11 2000000.00    Failed
11  A004  Project 12 1000000.00   Ongoing
12  A004  Project 13 3000000.00  Finished
13  A005  Project 14  200000.00  Finished

In [7]:
print(df_imported1.columns)

Index(['ID', 'Project', 'Cost', 'Status'], dtype='object')

In [8]:
# Task 3
# Split the "name" column into "First Name" and "Last Name" columns
df_imported2[['First Name', 'Last Name']] = df_imported2['Name'].str.split(n=1, expand=True)

# Reorder the columns to place "First Name" and "Last Name" at the beginning
new_column_order = ['First Name', 'Last Name'] + [col for col in df_imported2.columns if col not in ['First Name', 'Last Name']]
df_imported2 = df_imported2[new_column_order]

# Drop the original "name" column
df_imported2.drop('Name', axis=1, inplace=True)
print(df_imported2)

  First Name  Last Name    ID Gender     City  Age
0       John      Alter  A001      M    Paris   25
1      Alice  Luxumberg  A002      F   London   27
2        Tom  Sabestine  A003      M   Berlin   29
3       Nina      Adgra  A004      F  Newyork   31
4        Amy      Johny  A005      F   Madrid   30

In [9]:
# Task 4
# Merge df1 and df2 on 'ID'
merged_df = pd.merge(pd.merge(df_imported1, df_imported2, on='ID', how='inner'),df_imported3,on='ID', how='inner')
final_df = merged_df

# Display the merged DataFrame
print(final_df)

      ID     Project       Cost    Status First Name  Last Name Gender  \
0   A001   Project 1 1002000.00  Finished       John      Alter      M
1   A002   Project 2 2000000.00   Ongoing      Alice  Luxumberg      F
2   A003   Project 3 4500000.00  Finished        Tom  Sabestine      M
3   A004   Project 4 5500000.00   Ongoing       Nina      Adgra      F
4   A005   Project 5 3250500.00  Finished        Amy      Johny      F
5   A002   Project 6  680000.00    Failed      Alice  Luxumberg      F
6   A005   Project 7  400000.00  Finished        Amy      Johny      F
7   A003   Project 8  350000.00    Failed        Tom  Sabestine      M
8   A001   Project 9 2061714.29   Ongoing       John      Alter      M
9   A003  Project 10  300000.00  Finished        Tom  Sabestine      M
10  A001  Project 11 2000000.00    Failed       John      Alter      M
11  A004  Project 12 1000000.00   Ongoing       Nina      Adgra      F
12  A004  Project 13 3000000.00  Finished       Nina      Adgra      F
13  A005  Project 14  200000.00  Finished        Amy      Johny      F

       City  Age  DesignationLevel
0     Paris   25                 2
1    London   27                 2
2    Berlin   29                 3
3   Newyork   31                 2
4    Madrid   30                 3
5    London   27                 2
6    Madrid   30                 3
7    Berlin   29                 3
8     Paris   25                 2
9    Berlin   29                 3
10    Paris   25                 2
11  Newyork   31                 2
12  Newyork   31                 2
13   Madrid   30                 3

In [10]:
# Task 5
# Calculate the bonus: 5% of the Cost where Status is 'Finished'
final_df['Bonus'] = final_df.apply(lambda row: 0.05 * row['Cost'] if row['Status'] == 'Finished' else 0, axis=1)

# Print the updated DataFrame
print(final_df)

      ID     Project       Cost    Status First Name  Last Name Gender  \
0   A001   Project 1 1002000.00  Finished       John      Alter      M
1   A002   Project 2 2000000.00   Ongoing      Alice  Luxumberg      F
2   A003   Project 3 4500000.00  Finished        Tom  Sabestine      M
3   A004   Project 4 5500000.00   Ongoing       Nina      Adgra      F
4   A005   Project 5 3250500.00  Finished        Amy      Johny      F
5   A002   Project 6  680000.00    Failed      Alice  Luxumberg      F
6   A005   Project 7  400000.00  Finished        Amy      Johny      F
7   A003   Project 8  350000.00    Failed        Tom  Sabestine      M
8   A001   Project 9 2061714.29   Ongoing       John      Alter      M
9   A003  Project 10  300000.00  Finished        Tom  Sabestine      M
10  A001  Project 11 2000000.00    Failed       John      Alter      M
11  A004  Project 12 1000000.00   Ongoing       Nina      Adgra      F
12  A004  Project 13 3000000.00  Finished       Nina      Adgra      F
13  A005  Project 14  200000.00  Finished        Amy      Johny      F

       City  Age  DesignationLevel     Bonus
0     Paris   25                 2  50100.00
1    London   27                 2      0.00
2    Berlin   29                 3 225000.00
3   Newyork   31                 2      0.00
4    Madrid   30                 3 162525.00
5    London   27                 2      0.00
6    Madrid   30                 3  20000.00
7    Berlin   29                 3      0.00
8     Paris   25                 2      0.00
9    Berlin   29                 3  15000.00
10    Paris   25                 2      0.00
11  Newyork   31                 2      0.00
12  Newyork   31                 2 150000.00
13   Madrid   30                 3  10000.00

In [11]:
# Task 6
# Demote Designation Level by 1 for failed projects
final_df.loc[final_df['Status'] == 'Failed', 'DesignationLevel'] += 1

# Delete records with DesignationLevel above 4
final_df = final_df[final_df['DesignationLevel'] <= 4]

# Print the updated DataFrame
print(final_df)

      ID     Project       Cost    Status First Name  Last Name Gender  \
0   A001   Project 1 1002000.00  Finished       John      Alter      M
1   A002   Project 2 2000000.00   Ongoing      Alice  Luxumberg      F
2   A003   Project 3 4500000.00  Finished        Tom  Sabestine      M
3   A004   Project 4 5500000.00   Ongoing       Nina      Adgra      F
4   A005   Project 5 3250500.00  Finished        Amy      Johny      F
5   A002   Project 6  680000.00    Failed      Alice  Luxumberg      F
6   A005   Project 7  400000.00  Finished        Amy      Johny      F
7   A003   Project 8  350000.00    Failed        Tom  Sabestine      M
8   A001   Project 9 2061714.29   Ongoing       John      Alter      M
9   A003  Project 10  300000.00  Finished        Tom  Sabestine      M
10  A001  Project 11 2000000.00    Failed       John      Alter      M
11  A004  Project 12 1000000.00   Ongoing       Nina      Adgra      F
12  A004  Project 13 3000000.00  Finished       Nina      Adgra      F
13  A005  Project 14  200000.00  Finished        Amy      Johny      F

       City  Age  DesignationLevel     Bonus
0     Paris   25                 2  50100.00
1    London   27                 2      0.00
2    Berlin   29                 3 225000.00
3   Newyork   31                 2      0.00
4    Madrid   30                 3 162525.00
5    London   27                 3      0.00
6    Madrid   30                 3  20000.00
7    Berlin   29                 4      0.00
8     Paris   25                 2      0.00
9    Berlin   29                 3  15000.00
10    Paris   25                 3      0.00
11  Newyork   31                 2      0.00
12  Newyork   31                 2 150000.00
13   Madrid   30                 3  10000.00

In [12]:
# Task 7
# Add "Mr." or "Mrs." to the First Name column based on Gender
final_df['First Name'] = final_df.apply(lambda row: f"Mr. {row['First Name']}" if row['Gender'] == 'M' else f"Mrs. {row['First Name']}", axis=1)

# Drop the Gender column
final_df.drop('Gender', axis=1, inplace=True)

# Print the updated DataFrame
print(final_df)

      ID     Project       Cost    Status  First Name  Last Name     City  \
0   A001   Project 1 1002000.00  Finished    Mr. John      Alter    Paris
1   A002   Project 2 2000000.00   Ongoing  Mrs. Alice  Luxumberg   London
2   A003   Project 3 4500000.00  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4 5500000.00   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5 3250500.00  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  680000.00    Failed  Mrs. Alice  Luxumberg   London
6   A005   Project 7  400000.00  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  350000.00    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9 2061714.29   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  300000.00  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11 2000000.00    Failed    Mr. John      Alter    Paris
11  A004  Project 12 1000000.00   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13 3000000.00  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  200000.00  Finished    Mrs. Amy      Johny   Madrid

    Age  DesignationLevel     Bonus
0    25                 2  50100.00
1    27                 2      0.00
2    29                 3 225000.00
3    31                 2      0.00
4    30                 3 162525.00
5    27                 3      0.00
6    30                 3  20000.00
7    29                 4      0.00
8    25                 2      0.00
9    29                 3  15000.00
10   25                 3      0.00
11   31                 2      0.00
12   31                 2 150000.00
13   30                 3  10000.00

In [13]:
# Task 8
# Promote designation level by 1 for employees whose age is more than 29 years
final_df['DesignationLevel'] = final_df.apply(lambda row: row['DesignationLevel'] - 1 if row['Age'] > 29 else row['DesignationLevel'], axis=1)

# Ensure the DesignationLevel does not exceed the maximum allowed level (e.g., 1 if it's the highest)
final_df['DesignationLevel'] = final_df['DesignationLevel'].apply(lambda x: max(x, 1))

# Print the updated DataFrame
print(final_df)

      ID     Project       Cost    Status  First Name  Last Name     City  \
0   A001   Project 1 1002000.00  Finished    Mr. John      Alter    Paris
1   A002   Project 2 2000000.00   Ongoing  Mrs. Alice  Luxumberg   London
2   A003   Project 3 4500000.00  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4 5500000.00   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5 3250500.00  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  680000.00    Failed  Mrs. Alice  Luxumberg   London
6   A005   Project 7  400000.00  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  350000.00    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9 2061714.29   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  300000.00  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11 2000000.00    Failed    Mr. John      Alter    Paris
11  A004  Project 12 1000000.00   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13 3000000.00  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  200000.00  Finished    Mrs. Amy      Johny   Madrid

    Age  DesignationLevel     Bonus
0    25                 2  50100.00
1    27                 2      0.00
2    29                 3 225000.00
3    31                 1      0.00
4    30                 2 162525.00
5    27                 3      0.00
6    30                 2  20000.00
7    29                 4      0.00
8    25                 2      0.00
9    29                 3  15000.00
10   25                 3      0.00
11   31                 1      0.00
12   31                 1 150000.00
13   30                 2  10000.00

In [14]:
# Task 9
# Group by 'ID' and 'First Name' and calculate the total project cost
total_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename the columns
total_cost.columns = ['ID', 'First Name', 'Total Cost']

# Create the new DataFrame 'TotalProjCost'
TotalProjCost = total_cost

# Print the new DataFrame
print(TotalProjCost)

     ID  First Name  Total Cost
0  A001    Mr. John  5063714.29
1  A002  Mrs. Alice  2680000.00
2  A003     Mr. Tom  5150000.00
3  A004   Mrs. Nina  9500000.00
4  A005    Mrs. Amy  3850500.00

In [15]:
# Task 10
# Filter employees whose city name contains the letter 'o'
employees_with_o_city = final_df[final_df['City'].str.contains('o', case=False, na=False)]

# Print the filtered DataFrame
print(employees_with_o_city)

      ID     Project       Cost    Status  First Name  Last Name     City  \
1   A002   Project 2 2000000.00   Ongoing  Mrs. Alice  Luxumberg   London
3   A004   Project 4 5500000.00   Ongoing   Mrs. Nina      Adgra  Newyork
5   A002   Project 6  680000.00    Failed  Mrs. Alice  Luxumberg   London
11  A004  Project 12 1000000.00   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13 3000000.00  Finished   Mrs. Nina      Adgra  Newyork

    Age  DesignationLevel     Bonus
1    27                 2      0.00
3    31                 1      0.00
5    27                 3      0.00
11   31                 1      0.00
12   31                 1 150000.00